version: "3.9"

services:
  redis:
    image: redis:7-alpine
    container_name: trading-board-redis
    ports:
      - "6379:6379"

  postgres:
    image: postgres:16-alpine
    container_name: trading-board-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: trading_board
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
